# This service file is written as a user-level service (run with `systemctl --user ...`)
# and assumes the following file tree:
# ~/satcat_mgr/
#   |--.venv/
#   |  |-- ...
#   |--catalog.tle [created by script]
#   |--satcat_mgr.py
#   |--secrets.ini

[Unit]
Description=Satellite catalog manager service
StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
WorkingDirectory=%h/satcat_mgr
ExecStart=%h/satcat_mgr/.venv/bin/python satcat_mgr.py ./elsets/ ./secrets.ini
Restart=always
RestartSec=300

[Install]
WantedBy=default.target
